## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd

import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Pisco,PE,-13.7000,-76.2167,59.02,88,17,5.75,mist
1,1,Xuddur,SO,4.1213,43.8894,67.86,82,38,19.57,scattered clouds
2,2,Avera,US,33.1940,-82.5271,77.05,81,59,6.04,broken clouds
3,3,Yellowknife,CA,62.4560,-114.3525,66.56,72,44,11.99,scattered clouds
4,4,Ushuaia,AR,-54.8000,-68.3000,37.06,70,40,2.30,scattered clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
usr_min_temp = float(input("What is the minimum temperature you would like for your trip? "))

usr_max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

city_data_df = city_data_df.loc[(city_data_df["Max Temp"] >= usr_min_temp) & \
                               (city_data_df["Max Temp"] <= usr_max_temp)]

city_data_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Avera,US,33.1940,-82.5271,77.05,81,59,6.04,broken clouds
8,8,Petatlan,MX,17.5167,-101.2667,77.25,94,100,6.53,overcast clouds
12,12,Qui Nhon,VN,13.7667,109.2333,89.85,59,20,3.33,few clouds
14,14,Dicabisagan,PH,17.0818,122.4157,88.39,64,100,5.77,overcast clouds
15,15,Moussoro,TD,13.6408,16.4901,79.77,71,96,4.81,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
698,698,Sevierville,US,35.8681,-83.5618,79.14,78,0,0.00,clear sky
704,704,Qena,EG,26.1615,32.7183,79.88,33,6,9.60,clear sky
706,706,Gigmoto,PH,13.7796,124.3900,85.71,68,100,3.15,overcast clouds
707,707,Qianan,CN,44.9932,124.0581,76.80,67,48,8.14,scattered clouds
708,708,Acarau,BR,-2.8856,-40.1200,78.75,80,10,16.35,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
city_data_df.count()

City_ID                253
City                   253
Country                253
Lat                    253
Lng                    253
Max Temp               253
Humidity               253
Cloudiness             253
Wind Speed             253
Current Description    253
dtype: int64

In [ ]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

In [6]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = city_data_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Avera,US,77.05,broken clouds,33.1940,-82.5271,
8,Petatlan,MX,77.25,overcast clouds,17.5167,-101.2667,
12,Qui Nhon,VN,89.85,few clouds,13.7667,109.2333,
14,Dicabisagan,PH,88.39,overcast clouds,17.0818,122.4157,
15,Moussoro,TD,79.77,overcast clouds,13.6408,16.4901,
18,Half Moon Bay,US,77.79,mist,37.4636,-122.4286,
24,Kokopo,PG,85.86,light rain,-4.3520,152.2633,
28,Allapalli,IN,77.27,light rain,19.4167,80.0667,
33,Dingle,PH,85.35,moderate rain,10.9995,122.6711,
34,Banda Aceh,ID,85.26,broken clouds,5.5577,95.3222,

In [7]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat}, {lng}"

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
   
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try: 
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except(IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
import numpy as np

hotel_df.loc[(hotel_df["Hotel Name"] == ""), ["Hotel Name"]] = np.nan

hotel_df.dropna(subset=["Hotel Name"], inplace=True)

hotel_df.head(30)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,Petatlan,MX,77.25,overcast clouds,17.5167,-101.2667,Hotel California Petatlán
12,Qui Nhon,VN,89.85,few clouds,13.7667,109.2333,Seagull Hotel
14,Dicabisagan,PH,88.39,overcast clouds,17.0818,122.4157,Nancy Montanes Bernardo
15,Moussoro,TD,79.77,overcast clouds,13.6408,16.4901,Hôtel Salama
18,Half Moon Bay,US,77.79,mist,37.4636,-122.4286,"The Ritz-Carlton, Half Moon Bay"
24,Kokopo,PG,85.86,light rain,-4.3520,152.2633,Kokopo Beach Bungalow Resort
28,Allapalli,IN,77.27,light rain,19.4167,80.0667,"Hotel IK Residency, GUEST HOUSE AC NON AC"
33,Dingle,PH,85.35,moderate rain,10.9995,122.6711,SEGAYA PROPERTY
34,Banda Aceh,ID,85.26,broken clouds,5.5577,95.3222,OYO 884 Rumoh PMI Hotel
38,Koroni,GR,81.07,clear sky,36.8000,21.9500,Apartments Xenios Zeus 1
45,Atuona,PF,77.77,broken clouds,-9.8000,-139.0333,Villa Enata
48,Abu Zabad,SD,77.49,overcast clouds,12.3500,29.2500,حامد محمد نور
49,Hithadhoo,MV,84.40,scattered clouds,-0.6000,73.0833,Scoop Guest House
53,Tulagi,SB,83.59,scattered clouds,-9.0996,160.1476,Raiders Hotel & Dive
64,Dubti,ET,85.98,overcast clouds,11.7361,41.0853,degu Shiferaw
66,Lompoc,US,77.14,mist,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
70,Aksu,CN,83.97,clear sky,41.1231,80.2644,Pudong Holiday Hotel
71,Georgetown,MY,87.89,haze,5.4112,100.3354,Cititel Penang
72,Vaini,TO,80.76,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
75,Avarua,CK,77.05,scattered clouds,-21.2078,-159.7750,Paradise Inn
77,Zhangye,CN,77.72,overcast clouds,38.9342,100.4517,Zhangye Lvzhou Holiday Inn
80,Rapid Valley,US,78.84,clear sky,44.0625,-103.1463,Fairfield Inn & Suites by Marriott Rapid City
81,Butaritari,KI,80.78,moderate rain,3.0707,172.7902,Isles Sunset Lodge
82,Wilmington,US,81.86,clear sky,34.2257,-77.9447,"Hotel Ballast Wilmington, Tapestry Collection ..."
85,Candiis,PH,84.49,overcast clouds,8.9703,125.1842,Lapyahan de Cabilan
88,Hasaki,JP,82.29,light rain,35.7333,140.8333,Inubosaki Kanko Hotel
91,Kapaa,US,84.18,overcast clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
96,Cabo San Lucas,MX,83.50,clear sky,22.8909,-109.9124,Hotel Tesoro Los Cabos
102,Anyama,CI,76.01,overcast clouds,5.4946,-4.0518,Hotel la Residence des Hotes
110,Luganville,VU,78.13,broken clouds,-15.5333,167.1667,The Espiritu Hotel

In [10]:
# 8a. Create the output File (CSV)

output_data_file = "Vacation_search/WeatherPy_Vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [20]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>

<dt>Hotel Name</dt><dd>{Hotel Name}</dd>

<dt>City Name</dt><dd>{City}</dd>

<dt>Country</dt><dd>{Country}</dd>

<dt>Weather Description</dt><dd>{Current Description} and {Max Temp}°F</dd>

</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [21]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# adding a marker layer for the hotel locations
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))